* {
    box-sizing:border-box;
}

body {
    color:white;
    background-color:#303;
    overflow:hidden;
    margin:0;
    text-align:center;
}

canvas {
    background-color:#101;
    border: 8px solid #f0f;
    width:100%;
    max-width:1280px;
    margin:0px auto;
}
